* {
    cursor: url('../images/cursor.png'), auto;
}

body {
    background-color: #FFC3D4 ;
}

footer {
    position: absolute;
    bottom: 0px;
    margin-left: 38%;
}

footer p {
    color: white;
    font-family: 'Poppins', sans-serif;
}

footer p a {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#background-img {
    width: 300px;
    position: absolute;
    right: 30px;
    bottom: 10px;
    transform: rotateY(180deg);
}

h1 {
    font-family: 'Concert One', cursive;
    font-size: 70px;
    margin-left: 25%;
}

#dock {
    margin-left: 36%;
}

.dock-btn {
    width: 70px;
    height: 70px;
    margin-left: 40px;
}

.dock-btn:hover {
    cursor: pointer;
}

.close-btn {
    border-radius: 50%;
    height: 25px;
    float: left;
    background-color: #Ffd76e;
    border: solid black 2px;
    box-shadow: 0px 2px 0 0 #000000;
    font-family: 'Acme', sans-serif;
}

#paint-btn {
    transform: rotateY(180deg);
}

.close-btn:active {
    margin-top: 2px;
    box-shadow: none;
}

.modal {
    position: fixed;
    width: 30%;
    padding: 8px;
    background-color: #e8a8c2;
    border: 4px solid black;
    border-radius: 3%;
}

.back {
    z-index: 1;
}

.front {
    z-index: 10;
}

.bar {
    border: 2px solid black;
    padding: 6px;
    cursor: move;
}

h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

#message-app {
    width: 40%;
    background-color: #95EBF9 ;
}

#paint-app {
    background-color: #82D4BB;
}

#memobar {
    height: 40px;
    width: 100%;
    background-color: #95EBF9;
}

.highlight {
    border: solid 3px #F68499;
    border-radius: 30%;
    width: 75px;
    height: 75px;
}


